@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes shiver {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-5px) rotate(-3deg);
  }
  50% {
    transform: translateX(5px) rotate(3deg);
  }
  75% {
    transform: translateX(-5px) rotate(-3deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.shiver {
  animation: shiver 1s infinite;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

.blinking-element {
  animation: blink 0.2s infinite, shiver 1s infinite,
    scale-up 0.5s infinite alternate;
}

@keyframes scale-down {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.scaledown {
  animation: scale-down 2s infinite alternate;
}

@keyframes move-in-circle {
  0% {
    transform: translate(0, -100px) rotate(0deg);
  }
  100% {
    transform: translate(0, -100px) rotate(360deg);
  }
}

.rotating-image {
  transform: translate(-50%, -50%);
  animation: rotate-all-over 5s ease infinite, move-in-circle 2s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  animation: scroll 10s linear infinite;
}

@keyframes xPatternAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(50vh) translateX(50vw);
  }
  50% {
    transform: translateY(0) translateX(50vw);
  }
  75% {
    transform: translateY(50vh) translateX(0);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.xPattern {
  animation: xPatternAnimation 10s infinite linear; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.particle-pwe-btn {
  display: none;
}
